.podcastdetails__container {
  width: 100%;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.podcast__content {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 300px 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  padding-bottom: 2rem;
}

@media screen and (max-width: 991px) {
  .podcast__content {
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    grid-template-columns: 240px 1fr;
  }
  
}

@media screen and (max-width: 767px) {
  .podcast__content {
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
  
}
@media screen and (max-width: 479px) {
  .podcast__content {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }
  
}

.podcast__content__left {
  height: 35vh;
  min-height: 550px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
}

@media screen and (max-width: 991px) {
  .podcast__content__left {
   top: 30px
  }
}
@media screen and (max-width: 767px) {
  .podcast__content__left {
    height: auto;
    position: static;
    max-width: 300px;
  }
}

@media screen and (max-width: 479px) {
  .podcast__content__left {
    max-width: 100%;
    margin-bottom: 3rem;
  }
}

.podcast__cover img {
  max-width: 100%;
  display: inline-block;
}

.podcast__single__meta {
  padding-bottom: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.podcast__single__meta p {
  text-transform: uppercase;
  font-family: Generalsans, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
}

.podcast__episode {
  display: flex;
  gap: 0.875rem;
  margin-bottom: 1rem;
}

.podcast__episode h3 {
  text-transform: uppercase;
  font-family: Generalsans, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
}

.podcast__heading h1 {
  text-transform: uppercase;
  font-family: Generalsans, sans-serif;
  font-size: 5rem;
  font-weight: 600;
  line-height: 110%;
}

@media screen and (max-width: 991px) {
  .podcast__heading h1 {
    font-size: 3.75rem;
  }
}

@media screen and (max-width: 767px) {
  .podcast__heading h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .podcast__heading h1 {
    font-size: 2.5rem;
  }
}

.podcast__short__description p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 170%;
  font-weight: 500;
}

.podcast__description p {
  margin-bottom: 1rem;
  font-size: 17px;
  line-height: 180%;
}

@media screen and (max-width: 767px) {
  .podcast__description p {
    font-size: 1rem
  }
  
}

.podcast__description blockquote {
  background-image: url(../../../../public/icons/quote.svg);
  background-position: 0 59px;
  background-repeat: no-repeat;
  background-size: auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 0 solid #000;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem 0 3rem 5rem;
  font-family: Generalsans, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 120%;
}

@media screen and (max-width: 991px) {
  .podcast__description blockquote {
    background-position: 0 52px;
    background-size: 30px;
    padding-left: 4rem;
    font-size: 2rem;
    line-height: 140%;
  }
}

@media screen and (max-width: 767px) {
  .podcast__description blockquote {
    background-position: 0 38px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .podcast__description blockquote {
    background-position: 0 20px;
    padding-top: 4rem;
    padding-left: 0;
    font-size: 1.75rem;
  }
}

