@import "./Variables";
@import "./Mixins";


@import "./Components/Button";
@import "./Components/Hero";
@import "./Components/Header";
@import "./Components/Articles";
@import "./Components/Authorss";
@import "./Components/AuthorsList";
@import "./Components/Footer";
@import "./Components/LatestArticle";
@import "./Components/LatestPodcasts";
@import "./Components/NewsletterTicker";
@import "./Components/NotFound";
@import "./Components/Podcasts";
@import "./Components/SideBar";
@import "./Components/TemplateInfo";
@import "./Components/ArticleDetails";
@import "./Components/AuthorsDetails";
@import "./Components/PodcastDetails";
@import "./Components/PostNavigation";
@import "./Components/Subheading";
@import "./Components/CookieBanner";


@font-face {
  font-family: "General Sans";
  src: local("General Sans"),
    url(../Assets/fonts/GeneralSans/Fonts/WEB/fonts/GeneralSans-Medium.woff2)
      format("woff2"),
    url(../Assets/fonts/GeneralSans/Fonts/WEB/fonts/GeneralSans-Medium.woff)
      format("woff");
  font-weight: normal;
  font-style: normal;
}
  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-family: "General Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  position: relative;
  text-decoration: none;
  color: unset;
  display: inline-block;
}

img {
  max-width: 100%;
  display: inline-block;
}


.btn {
  cursor: pointer;
  color: $black;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid $black;
  border-radius: 500px;
  align-items: center;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  line-height: 120%;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.btn::before {
  position: absolute;
  content: "";
  background: $black;
  color: $white;
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.btn:hover {
  color: $white;

}

.btn:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.btn:hover::before {
  top: -30px;
  left: -30px;
}

.sml-txt {
  font-size: 0.875rem;
}

.subnav__item {
  column-gap: 0.7rem;
  row-gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  line-height: 170%;
}

.underline {
  text-decoration: underline;
}





  