.container {
  padding-top: 3rem;
  width: 100%;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.categories__section {
  display: flex;
  margin: 6rem 0;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.categories__section-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
}

.categories__section-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.articles__container {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 1px;
  display: grid;
}

@media screen and (max-width: 991px) {
  .articles__container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 479px) {
  .articles__container {
    grid-template-columns: 1fr;
  }
}

.articles__container-items {
  height: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  outline: 1px solid #000;
  background-color: #fff;
  grid-template-rows: auto;
  grid-template-columns: 240px 1fr;
  grid-auto-columns: 1fr;
  padding: 3rem;
}

@media screen and (max-width: 991px) {
  .articles__container-items {
    padding: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .articles__container-items {
    padding: 1.5rem;
  }
}

.articles__container-items-top {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.articles__container-items-top p {
  font-size: 0.875rem;
}

.articles__container img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: transform 0.3s;
}
.articles__container img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .articles__container img {
    margin-top: 1.5rem;
  }
}

.articles__container h2 {
  font-family: Generalsans, sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 1rem;
}

.articles__container h2
.description {
  color: #000;
  background-color: #fff;
  font-family: Generalsans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  margin-bottom: 3rem;
}

.articles__container-meta {
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 767px) {
  .articles__container-meta {
    margin-top: 4rem;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
  }
  
}

.btn.active {
  background-color: #000;
  color: #fff;
}

.allarticles__btn__wrapper {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.allarticles__btn__text {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-family: Generalsans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
}
