.post__latest {
  border-top: 1px solid #000;
  padding-top: 3rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.post__latest__link {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
  display: inline-block;
}

.post__latest__link {
  display: flex;
  align-items: center;
  gap: 0.7rem; 
  text-decoration: none; 
}
.post__latest__link img {
  width: 20px;
  height: 20px;
  line-height: 100%;
}

.post__latest h2 {
  text-transform: uppercase;
  font-size: 6.5rem;
}

@media screen and (max-width: 991px){
  .post__latest h2{
    font-size: 3.75rem;
  }
}

@media screen and (max-width: 767px){
  .post__latest h2{
    font-size: 3rem;
  }
}

@media screen and (max-width: 479px){
  .post__latest h2{
    font-size: 2.6rem;
  }
}

  
  
  @media screen and (max-width: 479px) {
    .post__latest__link p{
     display: none;
    }
  }


 