.articledetails__container__post__content__left {
  height: 35vh;
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
}



@media only screen and (max-width: 1300px) {
  .articledetails__container__post__content__left {
    height: 45vh;
   min-height: 350px;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
   top: 5%;
  }
}
@media only screen and (max-width: 767px) {
  .articledetails__container__post__content__left {
    height: auto;
    min-height: 0;
    overflow: visible;
    position: static;
    top: auto;
  }
}





.articledetails__container {
  width: 100%;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.articledetails__container__title {
  margin-top: 4rem;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 0.75fr 0.5fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: start;
  display: grid;
 
}
@media screen and (max-width: 991px) {
  .articledetails__container__title {
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}

.articledetails__container__title h1 {
  text-transform: uppercase;
  font-size: 5.5rem;
}

@media screen and (max-width: 991px) {
  .articledetails__container__title h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 767px) {
  .articledetails__container__title h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 479px) {
  .articledetails__container__title h1 {
    font-size: 2.4rem;
  }
}

.articledetails__container__title p {
  font-size: 1.25rem;
  line-height: 170%;
}

.articledetails__container__meta {
  margin-top: 4rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 767px) {
  .articledetails__container__meta{
    align-items: flex-start;
  }
}
@media screen and (max-width: 479px) {
  .articledetails__container__meta{
    grid-column-gap: 16px;
    grid-row-gap: 1rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-items: start;
    display: grid;
  }
}

.articledetails__container__meta__items {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 767px) {
  .articledetails__container__meta__items {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
  }
}



.articledetails__container__img img {
  max-width: 100%;
  display: inline-block;
}

.articledetails__container__post {
  margin-top: 6rem;
  width: 100%;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1300px) {
  .articledetails__container__post {
    max-width: 100%;
  }
}

.articledetails__container__post__content {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 1199px) {
  .articledetails__container__post__content {
    max-width: 100%;
  }
}



@media screen and (max-width: 991px) {
  .articledetails__container__post__content {
    grid-template-columns: 1fr; 
  }

  .articledetails__container__post__content__left,
  .articledetails__container__post__content__right {

    width: 100%; 
  }

  .articledetails__container__post__content__left {
    order: 2; 
  }

  .articledetails__container__post__content__right {
    order: 1; }
}


.post_author {
  padding-bottom: 2rem;
  border-bottom: 1px solid #000;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 80px 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.post_author img {
  max-width: 100%;
  border-radius: 50%;
  display: inline-block;
}

.post_author h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 130%;
}

.post__items {
  margin-top: 2rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 0.5fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.post__items p {
  justify-content: flex-end;
  display: flex;
}

.articledetails__container__post__content__right p {
  margin-bottom: 1rem;
  line-height: 180%;
}

@media screen and (max-width: 767px) {
  .articledetails__container__post__content__right p {
    font-size: 14px;
  }
}

.articledetails__container__post__content__right blockquote {
  background-image: url(../../../../public/icons/quote.svg);
  background-position: 0 59px;
  background-repeat: no-repeat;
  background-size: auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 0 solid #000;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem 0 3rem 5rem;
  font-family: Generalsans, sans-serif;
  font-size: 3rem;
  font-weight: 700;
 

}

@media screen and (max-width: 991px) {
  .articledetails__container__post__content__right blockquote {
    background-position: 0 52px;
    background-size: 30px;
    padding-left: 4rem;
    font-size: 2rem;
   
  }
}
@media screen and (max-width: 767px) {
  .articledetails__container__post__content__right blockquote {
    background-position: 0 38px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.articledetails__container__post__content__right__latest__posts {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 1px;
  display: grid;
}

@media screen and (max-width: 991px) {
  .articledetails__container__post__content__right__latest__posts {
    grid-template-columns: 1fr 1fr;
  }
}

.latest__posts__item {
  height: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  border: 1px solid #000;
  grid-template-rows: auto;
  grid-template-columns: 240px 1fr;
  grid-auto-columns: 1fr;
  padding: 3rem;
}

.latest__posts__item__meta {
  margin-bottom: 2rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.latest__posts__item__meta p {
  font-size: 0.875rem;
  line-height: 170%;
}

.latest__posts__item__img img {
  display: inline-block;
  max-width: 100%;
}

.latest__posts__item__about {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.latest__posts__item__about h3 {
  margin-bottom: 2rem;
  font-family: Generalsans, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 130%;
}

.latest__posts__item__about p {
  color: #000;
  font-family: Generalsans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
}


.post__gird {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 1px;
  display: grid;
}

 @media screen and (max-width: 991px) {
  .post__gird {
    grid-template-columns: 1fr 1fr;
  }
  
 }
 @media screen and (max-width: 479px) {
  .post__gird {
    grid-template-columns: 1fr;
  }
  
}

.subnav__item {
  margin-top: 2rem;
  column-gap: 0.7rem;
    row-gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    line-height: 170%;
}


@media screen and (max-width: 769px) {
  .subnav__item {
    margin-top: 0;
  }
}




