.button {
    cursor: pointer;
    margin-top: 2rem;
    color: $white;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: $black;
    border: 1px solid $black;
    padding: 1.3rem;
    font-family: Generalsans, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 0;
    -webkit-transition: border-color 0.35s ease, background 0.35s ease;
    transition: border-color 0.35s ease, background 0.35s ease;
  
    &:before {
      background-color: $white;
      content: "";
      display: block;
      position: absolute;
      overflow: hidden;
      top: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
  
    &:hover {
      color: $black;
      transition: 0.25s;
  
      &:before {
        top: 0;
      }
    }
  }
  